@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: #121416;
    letter-spacing: 1px;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
